body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav_bg {
  background-color: rgb(255, 255, 255);
}

.menu_active {
  border: 2px solid red;
}

.header-img {
  width: 50%;
  text-align: right;
}

.animated {
  width: 50%;
}

.cardImg {
  height: 12rem;
}

footer {
  background-color: black !important;
  color: #fff !important; 
  font-size: 30px;
  position: relative;
  margin-top: 10px;
}